Expense Tracking System with Telegram, OpenAI & Google Sheets I.json
{
    "name": "Integration Telegram Bot, OpenAI (ChatGPT, Sora, DALL-E, Whisper)",
    "flow": [
        {
            "id": 2,
            "module": "telegram:WatchUpdates",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": "YOUR_TELEGRAM_WEBHOOK_ID"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "Expense Tracker"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:telegramapi",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": "YOUR_OPENAI_CONNECTION_ID"
            },
            "mapper": {
                "model": "o4-mini",
                "top_p": "1",
                "select": "chat",
                "messages": [
                    {
                        "role": "user",
                        "content": "Parse this expense message and return ONLY a JSON object with these fields:\r\n- date (YYYY-MM-DD format, if not specified use today's date)\r\n- amount (number only)\r\n- category (e.g., Food, Transport, Shopping, etc.)\r\n- description (brief description)\r\n\r\nMessage: {{2.message.text}}\n\nReturn only valid JSON, nothing else.",
                        "imageDetail": "auto"
                    },
                    {
                        "role": "system",
                        "content": "You are a expense parser. Always return valid JSON only, no explanations."
                    }
                ],
                "max_tokens": "2048",
                "temperature": ".1",
                "n_completions": "1",
                "response_format": "json_object",
                "parseJSONResponse": false
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "stop": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "o4-mini (system)Fast, cost-efficient reasoning model, succeeded by GPT-5 mini"
                        },
                        "select": {
                            "label": "Create a Chat Completion (GPT and o1 models)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "imageDetail": {
                                        "mode": "chose",
                                        "label": "Auto"
                                    },
                                    "imageInputType": {
                                        "mode": "chose",
                                        "label": "Empty"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "Developer / System"
                                    }
                                }
                            ]
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "tool_choice": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "JSON Object"
                        },
                        "reasoning_effort": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "parseJSONResponse": {
                            "mode": "chose"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability"
                        },
                        "type": "array",
                        "label": "Token Probability"
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "tool_choice",
                        "type": "select",
                        "label": "Tool Choice",
                        "validate": {
                            "enum": [
                                "none",
                                "auto",
                                "required"
                            ]
                        }
                    },
                    {
                        "name": "stop",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Output Tokens"
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": {
                                        "store": [
                                            {
                                                "label": "User",
                                                "value": "user",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    },
                                                    {
                                                        "name": "imageInputType",
                                                        "type": "select",
                                                        "label": "Image Input Type",
                                                        "options": [
                                                            {
                                                                "label": "URL",
                                                                "value": "url",
                                                                "nested": [
                                                                    {
                                                                        "help": "Make sure to use a publicly accessible URL.\nYou can test if your image is publicly accessible by opening the link in an incognito tab.",
                                                                        "name": "imageUrl",
                                                                        "type": "url",
                                                                        "label": "Image URL"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Image File",
                                                                "value": "file",
                                                                "nested": [
                                                                    {
                                                                        "name": "imageFile",
                                                                        "spec": [
                                                                            {
                                                                                "help": "Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`.",
                                                                                "name": "imageFilename",
                                                                                "type": "filename",
                                                                                "label": "Image Filename",
                                                                                "semantic": "file:name",
                                                                                "extension": [
                                                                                    "jpg",
                                                                                    "jpeg",
                                                                                    "png",
                                                                                    "webp",
                                                                                    "gif"
                                                                                ]
                                                                            },
                                                                            {
                                                                                "name": "imageData",
                                                                                "type": "buffer",
                                                                                "label": "Image Data",
                                                                                "semantic": "file:data"
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Image"
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                        "mappable": false
                                                    },
                                                    {
                                                        "help": "Recommended value: `Auto`",
                                                        "name": "imageDetail",
                                                        "type": "select",
                                                        "label": "Image Detail",
                                                        "options": [
                                                            {
                                                                "label": "Auto",
                                                                "value": "auto",
                                                                "default": true
                                                            },
                                                            {
                                                                "label": "High",
                                                                "value": "high"
                                                            },
                                                            {
                                                                "label": "Low",
                                                                "value": "low"
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "default": true
                                            },
                                            {
                                                "label": "Assistant",
                                                "value": "assistant",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    },
                                                    {
                                                        "mode": "edit",
                                                        "name": "tool_calls",
                                                        "spec": {
                                                            "spec": [
                                                                {
                                                                    "name": "type",
                                                                    "type": "hidden",
                                                                    "default": "function"
                                                                },
                                                                {
                                                                    "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                                                                    "name": "id",
                                                                    "type": "text",
                                                                    "label": "Tool call ID"
                                                                },
                                                                {
                                                                    "name": "function",
                                                                    "spec": [
                                                                        {
                                                                            "help": "The name of the function previously called.",
                                                                            "name": "name",
                                                                            "type": "text",
                                                                            "label": "Name",
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "help": "The arguments previously output by the AI.",
                                                                            "name": "arguments",
                                                                            "type": "text",
                                                                            "label": "Arguments",
                                                                            "required": true
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Function"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Tool Call"
                                                        },
                                                        "type": "array",
                                                        "label": "Tool Calls",
                                                        "labels": {
                                                            "add": "Add tool call"
                                                        },
                                                        "mappable": {
                                                            "help": "You can map the entire `Choices[]: Message.Tool Calls` array from a previous Create a Completion module here."
                                                        }
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Developer / System",
                                                "value": "system",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Tool",
                                                "value": "tool",
                                                "nested": [
                                                    {
                                                        "help": "The return of the function. This role should only be used when you have processed a previous function call and want to send the output of the function execution back to the AI.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content",
                                                        "required": true
                                                    },
                                                    {
                                                        "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                                                        "name": "tool_call_id",
                                                        "type": "text",
                                                        "label": "Tool Call ID.",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "reasoning_effort",
                        "type": "select",
                        "label": "Reasoning Effort",
                        "validate": {
                            "enum": [
                                "minimal",
                                "low",
                                "medium",
                                "high"
                            ]
                        }
                    },
                    {
                        "name": "parseJSONResponse",
                        "type": "boolean",
                        "label": "Parse JSON Response",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "result",
                        "type": "any",
                        "label": "Result"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "model",
                        "type": "text",
                        "label": "Model"
                    },
                    {
                        "name": "choices",
                        "spec": [
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            },
                            {
                                "name": "index",
                                "type": "number",
                                "label": "Index"
                            },
                            {
                                "name": "logprobs",
                                "type": "text",
                                "label": "Log Probs"
                            },
                            {
                                "name": "finish_reason",
                                "type": "text",
                                "label": "Finish Reason"
                            },
                            {
                                "name": "message",
                                "spec": [
                                    {
                                        "name": "role",
                                        "type": "text",
                                        "label": "Role"
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "tool_calls",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "function",
                                                "spec": [
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Name"
                                                    },
                                                    {
                                                        "name": "arguments",
                                                        "type": "text",
                                                        "label": "Arguments"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Function"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Tool Calls"
                                    },
                                    {
                                        "name": "refusal",
                                        "type": "text",
                                        "label": "Refusal"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "url_citation",
                                                "spec": [
                                                    {
                                                        "name": "end_index",
                                                        "type": "number",
                                                        "label": "End Index"
                                                    },
                                                    {
                                                        "name": "start_index",
                                                        "type": "number",
                                                        "label": "Start Index"
                                                    },
                                                    {
                                                        "name": "title",
                                                        "type": "text",
                                                        "label": "Title"
                                                    },
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "label": "URL"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "URL Citation"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Annotations"
                                    }
                                ],
                                "type": "collection",
                                "label": "Message"
                            }
                        ],
                        "type": "array",
                        "label": "Choices"
                    },
                    {
                        "name": "usage",
                        "spec": [
                            {
                                "name": "prompt_tokens",
                                "type": "number",
                                "label": "Prompt Tokens"
                            },
                            {
                                "name": "completion_tokens",
                                "type": "text",
                                "label": "Completion Tokens"
                            },
                            {
                                "name": "total_tokens",
                                "type": "number",
                                "label": "Total Tokens"
                            },
                            {
                                "name": "prompt_tokens_details",
                                "spec": [
                                    {
                                        "name": "cached_tokens",
                                        "type": "uinteger",
                                        "label": "Cached Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "image_tokens",
                                        "type": "uinteger",
                                        "label": "Image Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Prompt Tokens Details"
                            },
                            {
                                "name": "completion_tokens_details",
                                "spec": [
                                    {
                                        "name": "reasoning_tokens",
                                        "type": "uinteger",
                                        "label": "Reasoning Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    },
                                    {
                                        "name": "accepted_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Accepted Prediction Tokens"
                                    },
                                    {
                                        "name": "rejected_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Rejected Prediction Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Completion Tokens Details"
                            }
                        ],
                        "type": "collection",
                        "label": "Usage"
                    },
                    {
                        "name": "service_tier",
                        "type": "text",
                        "label": "Service Tier"
                    },
                    {
                        "name": "system_fingerprint",
                        "type": "text",
                        "label": "System Fingerprint"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 4,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": "YOUR_DATA_STRUCTURE_ID"
            },
            "mapper": {
                "json": "{{3.result}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "Expense Tracker Data"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "help": "",
                        "name": "date",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "amount",
                        "type": "number",
                        "label": null,
                        "default": null,
                        "required": false
                    },
                    {
                        "help": "",
                        "name": "category",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "description",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "google-sheets:addRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": "YOUR_GOOGLE_SHEETS_CONNECTION_ID"
            },
            "mapper": {
                "from": "drive",
                "mode": "select",
                "values": {
                    "0": "{{4.date}}",
                    "1": "{{4.amount}}",
                    "2": "{{4.category}}",
                    "3": "{{4.description}}"
                },
                "sheetId": "Sheet1",
                "spreadsheetId": "YOUR_SPREADSHEET_ID",
                "includesHeaders": true,
                "insertDataOption": "INSERT_ROWS",
                "valueInputOption": "USER_ENTERED",
                "insertUnformatted": false
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "My Drive"
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "Sheet1"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Expense Tracker's Data (per week)",
                                "Expense Tracker Data"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes",
                            "nested": [
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "Date (A)"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "Amount (B)"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "Category (C)"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "Description (D)"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "(E)"
                                        },
                                        {
                                        "name": "5",
                                        "type": "text",
                                        "label": "(F)"
                                    },
                                    {
                                        "name": "6",
                                        "type": "text",
                                        "label": "(G)"
                                    },
                                    {
                                        "name": "7",
                                        "type": "text",
                                        "label": "(H)"
                                    },
                                    {
                                        "name": "8",
                                        "type": "text",
                                        "label": "(I)"
                                    },
                                    {
                                        "name": "9",
                                        "type": "text",
                                        "label": "(J)"
                                    },
                                    {
                                        "name": "10",
                                        "type": "text",
                                        "label": "(K)"
                                    },
                                    {
                                        "name": "11",
                                        "type": "text",
                                        "label": "(L)"
                                    },
                                    {
                                        "name": "12",
                                        "type": "text",
                                        "label": "(M)"
                                    },
                                    {
                                        "name": "13",
                                        "type": "text",
                                        "label": "(N)"
                                    },
                                    {
                                        "name": "14",
                                        "type": "text",
                                        "label": "(O)"
                                    },
                                    {
                                        "name": "15",
                                        "type": "text",
                                        "label": "(P)"
                                    },
                                    {
                                        "name": "16",
                                        "type": "text",
                                        "label": "(Q)"
                                    },
                                    {
                                        "name": "17",
                                        "type": "text",
                                        "label": "(R)"
                                    },
                                    {
                                        "name": "18",
                                        "type": "text",
                                        "label": "(S)"
                                    },
                                    {
                                        "name": "19",
                                        "type": "text",
                                        "label": "(T)"
                                    },
                                    {
                                        "name": "20",
                                        "type": "text",
                                        "label": "(U)"
                                    },
                                    {
                                        "name": "21",
                                        "type": "text",
                                        "label": "(V)"
                                    },
                                    {
                                        "name": "22",
                                        "type": "text",
                                        "label": "(W)"
                                    },
                                    {
                                        "name": "23",
                                        "type": "text",
                                        "label": "(X)"
                                    },
                                    {
                                        "name": "24",
                                        "type": "text",
                                        "label": "(Y)"
                                    },
                                    {
                                        "name": "25",
                                        "type": "text",
                                        "label": "(Z)"
                                    }
                                ],
                                "type": "collection",
                                "label": "Values"
                            }
                        ]
                    },
                    "insertDataOption": {
                        "mode": "chose",
                        "label": "Insert rows"
                    },
                    "valueInputOption": {
                        "mode": "chose",
                        "label": "User entered"
                    },
                    "insertUnformatted": {
                        "mode": "chose"
                    }
                },
                "parameters": {
                    "__IMTCONN__": {
                        "data": {
                            "scoped": "true",
                            "connection": "google"
                        },
                        "label": "My Google connection"
                    }
                }
            },
            "parameters": [
                {
                    "name": "__IMTCONN__",
                    "type": "account:google",
                    "label": "Connection",
                    "required": true
                }
            ],
            "expect": [
                {
                    "name": "mode",
                    "type": "select",
                    "label": "Search Method",
                    "required": true,
                    "validate": {
                        "enum": [
                            "select",
                            "fromAll",
                            "map"
                        ]
                    }
                },
                {
                    "name": "insertUnformatted",
                    "type": "boolean",
                    "label": "Unformatted",
                    "required": true
                },
                {
                    "name": "valueInputOption",
                    "type": "select",
                    "label": "Value input option",
                    "validate": {
                        "enum": [
                            "USER_ENTERED",
                            "RAW"
                        ]
                    }
                },
                {
                    "name": "insertDataOption",
                    "type": "select",
                    "label": "Insert data option",
                    "validate": {
                        "enum": [
                            "INSERT_ROWS",
                            "OVERWRITE"
                        ]
                    }
                },
                {
                    "name": "from",
                    "type": "select",
                    "label": "Drive",
                    "required": true,
                    "validate": {
                        "enum": [
                            "drive",
                            "share",
                            "team"
                        ]
                    }
                },
                {
                    "name": "spreadsheetId",
                    "type": "file",
                    "label": "Spreadsheet ID",
                    "required": true
                },
                {
                    "name": "sheetId",
                    "type": "select",
                    "label": "Sheet Name",
                    "required": true
                },
                {
                    "name": "includesHeaders",
                    "type": "select",
                    "label": "Table contains headers",
                    "required": true,
                    "validate": {
                        "enum": [
                            true,
                            false
                        ]
                    }
                },
                {
                    "name": "values",
                    "spec": [
                        {
                            "name": "0",
                            "type": "text",
                            "label": "Date (A)"
                        },
                        {
                            "name": "1",
                            "type": "text",
                            "label": "Amount (B)"
                        },
                        {
                            "name": "2",
                            "type": "text",
                            "label": "Category (C)"
                        },
                        {
                            "name": "3",
                            "type": "text",
                            "label": "Description (D)"
                        },
                        {
                            "name": "4",
                            "type": "text",
                            "label": "(E)"
                        },
                        {
                            "name": "5",
                            "type": "text",
                            "label": "(F)"
                        },
                        {
                            "name": "6",
                            "type": "text",
                            "label": "(G)"
                        },
                        {
                            "name": "7",
                            "type": "text",
                            "label": "(H)"
                        },
                        {
                            "name": "8",
                            "type": "text",
                            "label": "(I)"
                        },
                        {
                            "name": "9",
                            "type": "text",
                            "label": "(J)"
                        },
                        {
                            "name": "10",
                            "type": "text",
                            "label": "(K)"
                        },
                        {
                            "name": "11",
                            "type": "text",
                            "label": "(L)"
                        },
                        {
                            "name": "12",
                            "type": "text",
                            "label": "(M)"
                        },
                        {
                            "name": "13",
                            "type": "text",
                            "label": "(N)"
                        },
                        {
                            "name": "14",
                            "type": "text",
                            "label": "(O)"
                        },
                        {
                            "name": "15",
                            "type": "text",
                            "label": "(P)"
                        },
                        {
                            "name": "16",
                            "type": "text",
                            "label": "(Q)"
                        },
                        {
                            "name": "17",
                            "type": "text",
                            "label": "(R)"
                        },
                        {
                            "name": "18",
                            "type": "text",
                            "label": "(S)"
                        },
                        {
                            "name": "19",
                            "type": "text",
                            "label": "(T)"
                        },
                        {
                            "name": "20",
                            "type": "text",
                            "label": "(U)"
                        },
                        {
                            "name": "21",
                            "type": "text",
                            "label": "(V)"
                        },
                        {
                            "name": "22",
                            "type": "text",
                            "label": "(W)"
                        },
                        {
                            "name": "23",
                            "type": "text",
                            "label": "(X)"
                        },
                        {
                            "name": "24",
                            "type": "text",
                            "label": "(Y)"
                        },
                        {
                            "name": "25",
                            "type": "text",
                            "label": "(Z)"
                        }
                    ],
                    "type": "collection",
                    "label": "Values"
                }
            ]
        }
    },
    {
        "id": 7,
        "module": "google-sheets:filterRows",
        "version": 2,
        "parameters": {
            "__IMTCONN__": "YOUR_GOOGLE_SHEETS_CONNECTION_ID"
        },
        "mapper": {
            "from": "drive",
            "sheetId": "Sheet1",
            "sortOrder": "asc",
            "spreadsheetId": "YOUR_SPREADSHEET_ID",
            "tableFirstRow": "A1:Z1",
            "includesHeaders": true,
            "valueRenderOption": "FORMATTED_VALUE",
            "dateTimeRenderOption": "FORMATTED_STRING"
        },
        "metadata": {
            "designer": {
                "x": 1200,
                "y": 0
            },
            "restore": {
                "expect": {
                    "from": {
                        "label": "Select from My Drive"
                    },
                    "orderBy": {
                        "mode": "chose"
                    },
                    "sheetId": {
                        "mode": "chose",
                        "label": "Sheet1"
                    },
                    "sortOrder": {
                        "mode": "chose",
                        "label": "Ascending"
                    },
                    "spreadsheetId": {
                        "mode": "chose",
                        "label": "Expense Tracker Data"
                    },
                    "tableFirstRow": {
                        "label": "A-Z"
                    },
                    "includesHeaders": {
                        "mode": "chose",
                        "label": "Yes"
                    },
                    "valueRenderOption": {
                        "mode": "chose",
                        "label": "Formatted value"
                    },
                    "dateTimeRenderOption": {
                        "mode": "chose",
                        "label": "Formatted string"
                    }
                },
                "parameters": {
                    "__IMTCONN__": {
                        "data": {
                            "scoped": "true",
                            "connection": "google"
                        },
                        "label": "My Google connection (your-email@gmail.com)"
                    }
                }
            },
            "parameters": [
                {
                    "name": "__IMTCONN__",
                    "type": "account:google",
                    "label": "Connection",
                    "required": true
                }
            ],
            "expect": [
                {
                    "name": "from",
                    "type": "select",
                    "label": "Search Method",
                    "required": true,
                    "validate": {
                        "enum": [
                            "drive",
                            "share"
                        ]
                    }
                },
                {
                    "name": "valueRenderOption",
                    "type": "select",
                    "label": "Value render option",
                    "validate": {
                        "enum": [
                            "FORMATTED_VALUE",
                            "UNFORMATTED_VALUE",
                            "FORMULA"
                        ]
                    }
                },
                {
                    "name": "dateTimeRenderOption",
                    "type": "select",
                    "label": "Date and time render option",
                    "validate": {
                        "enum": [
                            "SERIAL_NUMBER",
                            "FORMATTED_STRING"
                        ]
                    }
                },
                {
                    "name": "limit",
                    "type": "uinteger",
                    "label": "Limit"
                },
                {
                    "name": "spreadsheetId",
                    "type": "select",
                    "label": "Spreadsheet ID",
                    "required": true
                },
                {
                    "name": "sheetId",
                    "type": "select",
                    "label": "Sheet Name",
                    "required": true
                },
                {
                    "name": "includesHeaders",
                    "type": "select",
                    "label": "Table contains headers",
                    "required": true,
                    "validate": {
                        "enum": [
                            true,
                            false
                        ]
                    }
                },
                {
                    "name": "tableFirstRow",
                    "type": "select",
                    "label": "Column range",
                    "required": true,
                    "validate": {
                        "enum": [
                            "A1:Z1",
                            "A1:BZ1",
                            "A1:CZ1",
                            "A1:DZ1",
                            "A1:MZ1",
                            "A1:ZZ1",
                            "A1:AZZ1",
                            "A1:BZZ1",
                            "A1:CZZ1",
                            "A1:DZZ1",
                            "A1:MZZ1",
                            "A1:ZZZ1"
                        ]
                    }
                },
                {
                    "name": "filter",
                    "type": "filter",
                    "label": "Filter",
                    "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                },
                {
                    "name": "orderBy",
                    "type": "select",
                    "label": "Order by"
                },
                {
                    "name": "sortOrder",
                    "type": "select",
                    "label": "Sort order",
                    "validate": {
                        "enum": [
                            "asc",
                            "desc"
                        ]
                    }
                }
            ],
            "interface": [
                {
                    "name": "__IMTLENGTH__",
                    "type": "uinteger",
                    "label": "Total number of bundles"
                },
                {
                    "name": "__IMTINDEX__",
                    "type": "uinteger",
                    "label": "Bundle order position"
                },
                {
                    "name": "__ROW_NUMBER__",
                    "type": "number",
                    "label": "Row number"
                },
                {
                    "name": "__SPREADSHEET_ID__",
                    "type": "text",
                    "label": "Spreadsheet ID"
                },
                {
                    "name": "__SHEET__",
                    "type": "text",
                    "label": "Sheet"
                },
                {
                    "name": "0",
                    "type": "text",
                    "label": "Date (A)"
                },
                {
                    "name": "1",
                    "type": "text",
                    "label": "Amount (B)"
                },
                {
                    "name": "2",
                    "type": "text",
                    "label": "Category (C)"
                },
                {
                    "name": "3",
                    "type": "text",
                    "label": "Description (D)"
                },
                {
                    "name": "4",
                    "type": "text",
                    "label": "(E)"
                },
                {
                    "name": "5",
                    "type": "text",
                    "label": "(F)"
                },
                {
                    "name": "6",
                    "type": "text",
                    "label": "(G)"
                },
                {
                    "name": "7",
                    "type": "text",
                    "label": "(H)"
                },
                {
                    "name": "8",
                    "type": "text",
                    "label": "(I)"
                },
                {
                    "name": "9",
                    "type": "text",
                    "label": "(J)"
                },
                {
                    "name": "10",
                    "type": "text",
                    "label": "(K)"
                },
                {
                    "name": "11",
                    "type": "text",
                    "label": "(L)"
                },
                {
                    "name": "12",
                    "type": "text",
                    "label": "(M)"
                },
                {
                    "name": "13",
                    "type": "text",
                    "label": "(N)"
                },
                {
                    "name": "14",
                    "type": "text",
                    "label": "(O)"
                },
                {
                    "name": "15",
                    "type": "text",
                    "label": "(P)"
                },
                {
                    "name": "16",
                    "type": "text",
                    "label": "(Q)"
                },
                {
                    "name": "17",
                    "type": "text",
                    "label": "(R)"
                },
                {
                    "name": "18",
                    "type": "text",
                    "label": "(S)"
                },
                {
                    "name": "19",
                    "type": "text",
                    "label": "(T)"
                },
                {
                    "name": "20",
                    "type": "text",
                    "label": "(U)"
                },
                {
                    "name": "21",
                    "type": "text",
                    "label": "(V)"
                },
                {
                    "name": "22",
                    "type": "text",
                    "label": "(W)"
                },
                {
                    "name": "23",
                    "type": "text",
                    "label": "(X)"
                },
                {
                    "name": "24",
                    "type": "text",
                    "label": "(Y)"
                },
                {
                    "name": "25",
                    "type": "text",
                    "label": "(Z)"
                }
            ]
        }
    },
    {
        "id": 8,
        "module": "util:FunctionAggregator2",
        "version": 1,
        "parameters": {
            "fn": "sum",
            "feeder": 7
        },
        "mapper": {
            "value": "{{7.`1`}}"
        },
        "metadata": {
            "designer": {
                "x": 1500,
                "y": 0
            },
            "restore": {
                "extra": {
                    "feeder": {
                        "label": "Google Sheets - Search Rows [7]"
                    }
                },
                "parameters": {
                    "fn": {
                        "label": "SUM"
                    }
                }
            },
            "parameters": [
                {
                    "name": "fn",
                    "type": "select",
                    "label": "Aggregate function",
                    "required": true,
                    "validate": {
                        "enum": [
                            "avg",
                            "sum",
                            "count",
                            "max",
                            "min"
                        ]
                    }
                }
            ],
            "expect": [
                {
                    "name": "value",
                    "type": "number",
                    "label": "Value"
                }
            ]
        }
    },
    {
        "id": 6,
        "module": "telegram:SendReplyMessage",
        "version": 1,
        "parameters": {
            "__IMTCONN__": "YOUR_TELEGRAM_CONNECTION_ID"
        },
        "mapper": {
            "text": " Expense logged successfully!\r\n\r\n Amount: {{4.amount}}\r\n Category: {{4.category}}\r\n Description: {{4.description}}\r\n Date: {{4.date}}\r\n\r\n\r\n Total Spent: {{8.result}}",
            "chatId": "{{2.message.chat.id}}",
            "parseMode": "Markdown",
            "replyMarkup": "",
            "messageThreadId": "",
            "replyToMessageId": "",
            "replyMarkupAssembleType": "reply_markup_enter"
        },
        "metadata": {
            "designer": {
                "x": 1800,
                "y": 0
            },
            "restore": {
                "expect": {
                    "parseMode": {
                        "label": "Markdown"
                    },
                    "disableNotification": {
                        "mode": "chose"
                    },
                    "replyMarkupAssembleType": {
                        "label": "Enter the Reply Markup"
                    }
                },
                "parameters": {
                    "__IMTCONN__": {
                        "data": {
                            "scoped": "true",
                            "connection": "telegram"
                        },
                        "label": "Expense Tracker"
                    }
                }
            },
            "parameters": [
                {
                    "name": "__IMTCONN__",
                    "type": "account:telegram",
                    "label": "Connection",
                    "required": true
                }
            ],
            "expect": [
                {
                    "name": "chatId",
                    "type": "text",
                    "label": "Chat ID",
                    "required": true
                },
                {
                    "name": "text",
                    "type": "text",
                    "label": "Text",
                    "required": true
                },
                {
                    "name": "messageThreadId",
                    "type": "number",
                    "label": "Message Thread ID"
                },
                {
                    "name": "parseMode",
                    "type": "select",
                    "label": "Parse Mode",
                    "validate": {
                        "enum": [
                            "Markdown",
                            "HTML"
                        ]
                    }
                },
                {
                    "name": "disableNotification",
                    "type": "boolean",
                    "label": "Disable Notifications"
                },
                {
                    "name": "disableWebPagePreview",
                    "type": "boolean",
                    "label": "Disable Link Previews"
                },
                {
                    "name": "replyToMessageId",
                    "type": "number",
                    "label": "Original Message ID"
                },
                {
                    "name": "replyMarkupAssembleType",
                    "type": "select",
                    "label": "Enter/Assemble the Reply Markup Field",
                    "validate": {
                        "enum": [
                            "reply_markup_enter",
                            "reply_markup_assemble"
                        ]
                    }
                },
                {
                    "name": "replyMarkup",
                    "type": "text",
                    "label": "Reply Markup"
                }
            ]
        }
    }
],
"metadata": {
    "instant": true,
    "version": 1,
    "scenario": {
        "roundtrips": 1,
        "maxErrors": 3,
        "autoCommit": true,
        "autoCommitTriggerLast": true,
        "sequential": false,
        "slots": null,
        "confidential": false,
        "dataloss": false,
        "dlq": false,
        "freshVariables": false
    },
    "designer": {
        "orphans": []
    },
    "zone": "us2.make.com",
    "notes": []
}
};