AI-Powered Food Order Processing with Facebook Messenger, Telegram, Google Sheets & Calendar/AI-Powered Food Order Processing with Facebook Messenger, Telegram, Google Sheets & Calendar.json
{
  "name": "AI-Powered Food Order Processing System (FIXED v2.0)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fb-messenger-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c76d2530-a469-4c77-8e64-76f16cd782cb",
      "name": "Webhook - FB Messenger",
      "type": "n8n-nodes-base.webhook",
      "position": [400, 272],
      "webhookId": "fb-messenger-webhook-id",
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": { "version": 2 },
          "conditions": [
            {
              "id": "verification-mode",
              "leftValue": "={{ $json.query['hub.mode'] }}",
              "rightValue": "subscribe",
              "operator": { "type": "string", "operation": "equals" }
            },
            {
              "id": "verify-token",
              "leftValue": "={{ $json.query['hub.verify_token'] }}",
              "rightValue": "1234567890",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b8521c30-b174-4ff1-ab81-ac283185d3d5",
      "name": "Validate Webhook Subscription",
      "type": "n8n-nodes-base.if",
      "position": [624, 272],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $('Webhook - FB Messenger').item.json.query['hub.challenge'] }}",
        "options": {}
      },
      "id": "3bd29c8e-1ca9-42fc-a2a1-e6f9d31d46ee",
      "name": "Respond Challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [976, 112],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "lookup",
        "documentId": {
          "__rl": true,
          "value": "1-kM0lwcE2FJsp8tKiMNjImExaZnif6UUXV2LMnVOE40",
          "mode": "list",
          "cachedResultName": "Food Order Processing DataSheet"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=2",
          "mode": "list",
          "cachedResultName": "Inventory"
        },
        "lookupColumn": "Item Name",
        "lookupValue": "*",
        "options": {}
      },
      "id": "NEW-check-inventory",
      "name": "Check Current Inventory",
      "type": "n8n-nodes-base.googleSheets",
      "position": [624, 416],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0snrmABTwyZ812ip",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "lookup",
        "documentId": {
          "__rl": true,
          "value": "1-kM0lwcE2FJsp8tKiMNjImExaZnif6UUXV2LMnVOE40",
          "mode": "list",
          "cachedResultName": "Food Order Processing DataSheet"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=3",
          "mode": "list",
          "cachedResultName": "Business_Config"
        },
        "lookupColumn": "Config Key",
        "lookupValue": "*",
        "options": {}
      },
      "id": "NEW-check-business-hours",
      "name": "Check Business Config",
      "type": "n8n-nodes-base.googleSheets",
      "position": [624, 560],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0snrmABTwyZ812ip",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const inventory = $('Check Current Inventory').all();\nconst config = $('Check Business Config').all();\n\nconst availableItems = [];\nconst unavailableItems = [];\nconst lowStockItems = [];\n\nfor (const item of inventory) {\n  if (item.json['Is Available'] === 'TRUE' && parseInt(item.json['Current Stock']) > 0) {\n    availableItems.push({\n      name: item.json['Item Name'],\n      category: item.json['Category'],\n      stock: parseInt(item.json['Current Stock']),\n      minStock: parseInt(item.json['Min Stock Level'])\n    });\n    \n    if (parseInt(item.json['Current Stock']) <= parseInt(item.json['Min Stock Level'])) {\n      lowStockItems.push(item.json['Item Name']);\n    }\n  } else {\n    unavailableItems.push(item.json['Item Name']);\n  }\n}\n\nconst businessConfig = {};\nfor (const cfg of config) {\n  businessConfig[cfg.json['Config Key']] = cfg.json['Config Value'];\n}\n\nconst now = new Date();\nconst currentDay = now.toLocaleDateString('en-US', { weekday: 'long' });\nconst currentHour = now.getHours();\nconst currentMinute = now.getMinutes();\nconst currentTime = currentHour * 60 + currentMinute;\n\nconst isOpen = businessConfig['is_open'] === 'TRUE';\nconst openTime = parseInt(businessConfig['open_hour']) * 60;\nconst closeTime = parseInt(businessConfig['close_hour']) * 60;\nconst isWithinHours = currentTime >= openTime && currentTime < closeTime;\n\nconst closedDays = (businessConfig['closed_days'] || '').split(',').map(d => d.trim());\nconst isDayClosed = closedDays.includes(currentDay);\n\nconst canAcceptOrders = isOpen && isWithinHours && !isDayClosed;\n\nreturn [{\n  json: {\n    canAcceptOrders: canAcceptOrders,\n    availableItems: availableItems,\n    unavailableItems: unavailableItems,\n    lowStockItems: lowStockItems,\n    businessStatus: {\n      isOpen: isOpen,\n      currentDay: currentDay,\n      currentTime: `${currentHour}:${currentMinute.toString().padStart(2, '0')}`,\n      openHour: businessConfig['open_hour'],\n      closeHour: businessConfig['close_hour'],\n      closedDays: closedDays,\n      reason: !canAcceptOrders ? (!isOpen ? 'Temporarily Closed' : isDayClosed ? 'Closed on ' + currentDay : 'Outside Business Hours') : 'Open'\n    },\n    maxOrdersPerHour: parseInt(businessConfig['max_orders_per_hour']) || 10,\n    deliveryFee: parseFloat(businessConfig['delivery_fee']) || 30,\n    telegramBotToken: businessConfig['telegram_bot_token'] || '',\n    telegramChatId: businessConfig['telegram_staff_chat_id'] || ''\n  }\n}];"
      },
      "id": "NEW-process-context",
      "name": "Process Business Context",
      "type": "n8n-nodes-base.code",
      "position": [848, 416],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": { "version": 2 },
          "conditions": [
            {
              "id": "can-accept",
              "leftValue": "={{ $json.canAcceptOrders }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ]
        }
      },
      "id": "NEW-business-open-check",
      "name": "Business Open?",
      "type": "n8n-nodes-base.if",
      "position": [1072, 416],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v18.0/61585437062726/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "EAAVuzZC32vVkBQdMneHwJSZCud0KQxCg7iDgnigG6MmGvZA8JZBmG5GG9ol7PZAZCZBBWdVXZBZAL2vLCxxzRD1JiIcZAfDnc0Dg8zbjAAazXAtHwp3OwrtZBl8LY5IfmK1JEzf8U44TrmyQB0cGh4EUwBU4a2ctHaS5PwEnDtzOL5q4iZCfWHcOkE2tOxAjCLOMvogLjLE8gMVPsO6IBvzPHNwoZAwZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('Webhook - FB Messenger').item.json.entry[0].messaging[0].sender.id }}\"\n  },\n  \"message\": {\n    \"text\": \"Sorry po! We're currently {{ $('Process Business Context').item.json.businessStatus.reason }}.\\n\\nBusiness Hours: {{ $('Process Business Context').item.json.businessStatus.openHour }}:00 - {{ $('Process Business Context').item.json.businessStatus.closeHour }}:00\\nOpen Days: Monday-Saturday\\n\\nPlease come back during our operating hours. Salamat!\"\n  }\n}",
        "options": {}
      },
      "id": "NEW-send-closed-message",
      "name": "Send Business Closed Message",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1296, 272],
      "typeVersion": 4.3
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": { "responseCode": 200 }
      },
      "id": "NEW-respond-closed",
      "name": "Respond 200 (Closed)",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [1520, 272],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.entry[0].messaging[0].message.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an AI-powered food ordering assistant for Karaage Pops. Guide customers through ordering via Messenger.\n\nBUSINESS INFO:\nLocation: PureGold Carmona\nDelivery: Saturday-Sunday only in Carmona (₱30 fee)\nPickup: Available during business hours\n\nMENU:\nKaraage Pops - SMALL ₱69 | MEDIUM ₱99 | LARGE ₱129\nFlavors: Salt & Pepper, Spicy Buffalo, Garlic Parmesan, Yangnyeom, Sweet & Spicy, Honey Garlic, Sweet Teriyaki, Lemon Pepper, Creamy Cheese\n\nMeal Deals:\n- Large Karaage + Rice = ₱129\n- Medium Karaage + Rice + Drink = ₱139\n\nAdd-ons: Extra Rice ₱15, Coke ₱25, Water ₱15\n\nORDERING PROCESS:\n1. Order Type (Delivery/Pickup)\n2. Menu Browsing\n3. Item Customization\n4. Cart Review\n5. Order Confirmation (collect: Name, Contact, Address if Delivery, Schedule)\n\nRETURN JSON FORMAT:\n{\n  \"reply\": \"your response\",\n  \"currentStep\": \"1-OrderType|2-MenuBrowsing|3-Customization|4-CartReview|5-Confirmation|Complete\",\n  \"isComplete\": false,\n  \"isCancellation\": false,\n  \"isModification\": false,\n  \"cartData\": {\n    \"orderType\": \"Delivery|Pickup\",\n    \"items\": [],\n    \"subtotal\": 0,\n    \"deliveryFee\": 0,\n    \"total\": 0\n  },\n  \"orderData\": {\n    \"orderReference\": \"KP-YYYYMMDD-XXXX\",\n    \"orderType\": \"\",\n    \"orderDetails\": \"\",\n    \"customerName\": \"\",\n    \"contactNumber\": \"\",\n    \"deliveryAddress\": \"N/A\",\n    \"scheduledDate\": \"YYYY-MM-DD\",\n    \"scheduledTime\": \"HH:MM\",\n    \"paymentMethod\": \"Cash on Delivery|Cash on Pickup\",\n    \"orderStatus\": \"Pending\",\n    \"kitchenStatus\": \"Pending\"\n  }\n}\n\nBe friendly, use emojis, mix Filipino/English."
        }
      },
      "id": "a6fd96fd-2811-418c-b4d2-8a94e1e00fb2",
      "name": "AI Agent (Order Assistant)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [1296, 560],
      "typeVersion": 1.9,
      "continueOnFail": true
    },
    {
      "parameters": {
        "model": { "__rl": true, "mode": "list", "value": "gpt-4o-mini" },
        "options": {}
      },
      "id": "122a7d47-0182-49dd-a5a8-c9a4d0ee9e1c",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [1232, 784],
      "typeVersion": 1.3,
      "credentials": {
        "openAiApi": { "id": "3qWIVJDJz4d76145", "name": "OpenAi account" }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.entry[0].messaging[0].sender.id }}",
        "contextWindowLength": 15
      },
      "id": "6ed91568-7710-4864-b24f-e8a8c0b1f059",
      "name": "Memory Buffer (Customer Session)",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [1360, 784],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"reply\": {\"type\": \"string\"},\n    \"currentStep\": {\"type\": \"string\"},\n    \"isComplete\": {\"type\": \"boolean\"},\n    \"isCancellation\": {\"type\": \"boolean\"},\n    \"isModification\": {\"type\": \"boolean\"},\n    \"cartData\": {\"type\": \"object\"},\n    \"orderData\": {\"type\": \"object\"},\n    \"modificationData\": {\"type\": \"object\"},\n    \"cancelledOrderReference\": {\"type\": \"string\"}\n  },\n  \"required\": [\"reply\", \"currentStep\", \"isComplete\", \"isCancellation\"]\n}"
      },
      "id": "9c5c6a7c-73b6-4cf0-9862-db8bbbcaafc5",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [1488, 784],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nif (!items || items.length === 0) {\n  return [{\n    json: {\n      hasError: true,\n      errorType: 'ai_no_response',\n      customerId: $('Webhook - FB Messenger').item.json.entry[0].messaging[0].sender.id,\n      originalMessage: $('Webhook - FB Messenger').item.json.entry[0].messaging[0].message.text,\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nconst aiOutput = items[0].json;\n\nif (!aiOutput.output || !aiOutput.output.reply) {\n  return [{\n    json: {\n      hasError: true,\n      errorType: 'ai_invalid_response',\n      customerId: $('Webhook - FB Messenger').item.json.entry[0].messaging[0].sender.id,\n      originalMessage: $('Webhook - FB Messenger').item.json.entry[0].messaging[0].message.text,\n      rawResponse: JSON.stringify(aiOutput),\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    hasError: false,\n    aiResponse: aiOutput\n  }\n}];"
      },
      "id": "NEW-ai-validator",
      "name": "Check AI Response Validity",
      "type": "n8n-nodes-base.code",
      "position": [1520, 560],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": { "version": 2 },
          "conditions": [
            {
              "id": "has-error-check",
              "leftValue": "={{ $json.hasError }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ]
        }
      },
      "id": "NEW-ai-if-check",
      "name": "AI Response Valid?",
      "type": "n8n-nodes-base.if",
      "position": [1744, 560],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v18.0/61585437062726/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "EAAVuzZC32vVkBQdMneHwJSZCud0KQxCg7iDgnigG6MmGvZA8JZBmG5GG9ol7PZAZCZBBWdVXZBZAL2vLCxxzRD1JiIcZAfDnc0Dg8zbjAAazXAtHwp3OwrtZBl8LY5IfmK1JEzf8U44TrmyQB0cGh4EUwBU4a2ctHaS5PwEnDtzOL5q4iZCfWHcOkE2tOxAjCLOMvogLjLE8gMVPsO6IBvzPHNwoZAwZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $json.customerId }}\"\n  },\n  \"message\": {\n    \"text\": \"Sorry po, we're experiencing technical difficulties. Please try again in a few minutes, or contact us directly at 0917-XXX-XXXX. Thank you for your patience!\"\n  }\n}",
        "options": {}
      },
      "id": "NEW-ai-fallback",
      "name": "Send AI Error Fallback",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1968, 416],
      "typeVersion": 4.3,
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1-kM0lwcE2FJsp8tKiMNjImExaZnif6UUXV2LMnVOE40",
          "mode": "list",
          "cachedResultName": "Food Order Processing DataSheet"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=1",
          "mode": "list",
          "cachedResultName": "Failed_Operations"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.timestamp }}",
            "Operation Type": "ai_agent_failure",
            "Customer ID": "={{ $json.customerId }}",
            "Error Type": "={{ $json.errorType }}",
            "Error Message": "={{ $json.originalMessage }}",
            "Raw Data": "={{ $json.rawResponse || 'No response' }}",
            "Status": "failed"
          }
        },
        "options": {}
      },
      "id": "NEW-log-ai-error",
      "name": "Log AI Failure & Alert Staff",
      "type": "n8n-nodes-base.googleSheets",
      "position": [2192, 416],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0snrmABTwyZ812ip",
          "name": "Google Sheets account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $('Process Business Context').item.json.telegramBotToken + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $('Process Business Context').item.json.telegramChatId }}\",\n  \"text\": \"AI FAILURE ALERT\\n\\nError: {{ $('Check AI Response Validity').item.json.errorType }}\\nCustomer: {{ $('Check AI Response Validity').item.json.customerId }}\\nMessage: {{ $('Check AI Response Validity').item.json.originalMessage }}\\n\\nTime: {{ $now.toISO() }}\",\n  \"parse_mode\": \"HTML\"\n}",
        "options": {}
      },
      "id": "NEW-telegram-ai-alert",
      "name": "Alert Staff via Telegram (AI Error)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [2192, 560],
      "typeVersion": 4.3,
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": { "responseCode": 200 }
      },
      "id": "35bf3d0b-b1e9-4971-8359-6dd031656d4b",
      "name": "Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [1968, 704],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v18.0/61585437062726/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "EAAVuzZC32vVkBQdMneHwJSZCud0KQxCg7iDgnigG6MmGvZA8JZBmG5GG9ol7PZAZCZBBWdVXZBZAL2vLCxxzRD1JiIcZAfDnc0Dg8zbjAAazXAtHwp3OwrtZBl8LY5IfmK1JEzf8U44TrmyQB0cGh4EUwBU4a2ctHaS5PwEnDtzOL5q4iZCfWHcOkE2tOxAjCLOMvogLjLE8gMVPsO6IBvzPHNwoZAwZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('Webhook - FB Messenger').item.json.entry[0].messaging[0].sender.id }}\"\n  },\n  \"message\": {\n    \"text\": \"{{ $('Check AI Response Validity').item.json.aiResponse.output.reply }}\"\n  }\n}",
        "options": {}
      },
      "id": "61127aac-990a-4c8c-9124-5a07cfed3fbf",
      "name": "Send AI Reply to Customer",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1968, 848],
      "typeVersion": 4.3,
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": { "version": 2 },
          "conditions": [
            {
              "id": "check-cancellation",
              "leftValue": "={{ $('Check AI Response Validity').item.json.aiResponse.output.isCancellation }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ]
        },
        "options": {}
      },
      "id": "76978b88-c9de-460b-ac5e-0831900c5c86",
      "name": "Check if Cancellation Request",
      "type": "n8n-nodes-base.if",
      "position": [2192, 768],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1-kM0lwcE2FJsp8tKiMNjImExaZnif6UUXV2LMnVOE40",
          "mode": "list",
          "cachedResultName": "Food Order Processing DataSheet"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": ["Order Reference"],
          "schema": []
        },
        "options": {}
      },
      "id": "673179f6-66ac-42cd-916e-1b081736724e",
      "name": "Delete Order from Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [2416, 688],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0snrmABTwyZ812ip",
          "name": "Google Sheets account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v18.0/61585437062726/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "EAAVuzZC32vVkBQdMneHwJSZCud0KQxCg7iDgnigG6MmGvZA8JZBmG5GG9ol7PZAZCZBBWdVXZBZAL2vLCxxzRD1JiIcZAfDnc0Dg8zbjAAazXAtHwp3OwrtZBl8LY5IfmK1JEzf8U44TrmyQB0cGh4EUwBU4a2ctHaS5PwEnDtzOL5q4iZCfWHcOkE2tOxAjCLOMvogLjLE8gMVPsO6IBvzPHNwoZAwZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('Webhook - FB Messenger').item.json.entry[0].messaging[0].sender.id }}\"\n  },\n  \"message\": {\n    \"text\": \"Cancellation confirmed! Order has been removed from our system. If you need anything else or want to place a new order, just let us know! Salamat po!\"\n  }\n}",
        "options": {}
      },
      "id": "6dc52517-691a-4b59-b623-12f26a24c690",
      "name": "Send Cancellation Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "position": [2640, 688],
      "typeVersion": 4.3,
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": { "version": 2 },
          "conditions": [
            {
              "id": "check-modification",
              "leftValue": "={{ $('Check AI Response Validity').item.json.aiResponse.output.isModification }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ]
        }
      },
      "id": "NEW-check-modification",
      "name": "Check if Modification Request",
      "type": "n8n-nodes-base.if",
      "position": [2192, 928],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1-kM0lwcE2FJsp8tKiMNjImExaZnif6UUXV2LMnVOE40",
          "mode": "list",
          "cachedResultName": "Food Order Processing DataSheet"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Order Details": "={{ $('Check AI Response Validity').item.json.aiResponse.output.modificationData.newDetails }}",
            "Updated At": "={{ $now.toISO() }}",
            "Order Status": "Modified - Pending Confirmation"
          },
          "matchingColumns": ["Order Reference"],
          "schema": []
        },
        "options": {}
      },
      "id": "NEW-update-order",
      "name": "Update Order in Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [2416, 848],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0snrmABTwyZ812ip",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v18.0/61585437062726/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "EAAVuzZC32vVkBQdMneHwJSZCud0KQxCg7iDgnigG6MmGvZA8JZBmG5GG9ol7PZAZCZBBWdVXZBZAL2vLCxxzRD1JiIcZAfDnc0Dg8zbjAAazXAtHwp3OwrtZBl8LY5IfmK1JEzf8U44TrmyQB0cGh4EUwBU4a2ctHaS5PwEnDtzOL5q4iZCfWHcOkE2tOxAjCLOMvogLjLE8gMVPsO6IBvzPHNwoZAwZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('Webhook - FB Messenger').item.json.entry[0].messaging[0].sender.id }}\"\n  },\n  \"message\": {\n    \"text\": \"Modification saved! Order Reference: {{ $('Check AI Response Validity').item.json.aiResponse.output.modificationData.orderReference }}\\n\\nStatus: Modified - Pending Staff Confirmation\\n\\nOur staff will review and confirm your changes shortly. Salamat po!\"\n  }\n}",
        "options": {}
      },
      "id": "NEW-send-modification-confirm",
      "name": "Send Modification Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "position": [2640, 848],
      "typeVersion": 4.3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $('Process Business Context').item.json.telegramBotToken + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $('Process Business Context').item.json.telegramChatId }}\",\n  \"text\": \"ORDER MODIFICATION\\n\\nOrder: {{ $('Check AI Response Validity').item.json.aiResponse.output.modificationData.orderReference }}\\n\\nChanges: {{ $('Check AI Response Validity').item.json.aiResponse.output.modificationData.newDetails }}\\n\\nPlease review and confirm in Google Sheets.\",\n  \"parse_mode\": \"HTML\"\n}",
        "options": {}
      },
      "id": "NEW-telegram-modification-alert",
      "name": "Alert Staff via Telegram (Modification)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [2640, 1008],
      "typeVersion": 4.3
    },
    {
      "parameters": {
        "conditions": {
          "options": { "version": 2 },
          "conditions": [
            {
              "id": "check-complete",
              "leftValue": "={{ $('Check AI Response Validity').item.json.aiResponse.output.isComplete }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ]
        }
      },
      "id": "e7feae70-ddaa-490f-9d52-c8994ccf459a",
      "name": "Check if Order Complete",
      "type": "n8n-nodes-base.if",
      "position": [2192, 1088],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "jsCode": "const aiOutput = $('Check AI Response Validity').item.json.aiResponse.output;\nconst errors = [];\nconst warnings = [];\n\nif (aiOutput.isComplete && aiOutput.orderData) {\n  const od = aiOutput.orderData;\n  \n  if (!od.customerName || od.customerName.trim() === '') {\n    errors.push('Missing customer name');\n  }\n  \n  const phoneRegex = /^(09|\\+639)\\d{9}$/;\n  const cleanPhone = (od.contactNumber || '').replace(/[-\\s]/g, '');\n  if (!od.contactNumber || !phoneRegex.test(cleanPhone)) {\n    errors.push('Invalid contact number format');\n  }\n  \n  if (od.orderType === 'Delivery' && (!od.deliveryAddress || od.deliveryAddress === 'N/A')) {\n    errors.push('Missing delivery address');\n  }\n  \n  if (!od.scheduledDate) {\n    errors.push('Missing scheduled date');\n  }\n  \n  if (!od.scheduledTime) {\n    errors.push('Missing scheduled time');\n  }\n  \n  if (!aiOutput.cartData || !aiOutput.cartData.items || aiOutput.cartData.items.length === 0) {\n    errors.push('Cart is empty');\n  }\n}\n\nif (errors.length > 0) {\n  return [{\n    json: {\n      hasErrors: true,\n      errors: errors,\n      warnings: warnings,\n      customerId: $('Webhook - FB Messenger').item.json.entry[0].messaging[0].sender.id,\n      originalData: aiOutput\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    hasErrors: false,\n    warnings: warnings,\n    validatedData: aiOutput\n  }\n}];"
      },
      "id": "NEW-validator",
      "name": "Validate Order Data",
      "type": "n8n-nodes-base.code",
      "position": [2416, 1088],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": { "version": 2 },
          "conditions": [
            {
              "id": "validation-check",
              "leftValue": "={{ $json.hasErrors }}",
              "rightValue": false,
              "operator": { "type": "boolean", "operation": "false" }
            }
          ]
        }
      },
      "id": "NEW-validation-if",
      "name": "Order Data Valid?",
      "type": "n8n-nodes-base.if",
      "position": [2640, 1088],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v18.0/61585437062726/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "EAAVuzZC32vVkBQdMneHwJSZCud0KQxCg7iDgnigG6MmGvZA8JZBmG5GG9ol7PZAZCZBBWdVXZBZAL2vLCxxzRD1JiIcZAfDnc0Dg8zbjAAazXAtHwp3OwrtZBl8LY5IfmK1JEzf8U44TrmyQB0cGh4EUwBU4a2ctHaS5PwEnDtzOL5q4iZCfWHcOkE2tOxAjCLOMvogLjLE8gMVPsO6IBvzPHNwoZAwZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('Validate Order Data').item.json.customerId }}\"\n  },\n  \"message\": {\n    \"text\": \"Oops! There's an issue with your order:\\n\\n{{ $('Validate Order Data').item.json.errors.join('\\n') }}\\n\\nPlease provide the correct information.\"\n  }\n}",
        "options": {}
      },
      "id": "NEW-validation-error",
      "name": "Send Validation Error",
      "type": "n8n-nodes-base.httpRequest",
      "position": [2864, 1008],
      "typeVersion": 4.3,
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "lookup",
        "documentId": {
          "__rl": true,
          "value": "1-kM0lwcE2FJsp8tKiMNjImExaZnif6UUXV2LMnVOE40",
          "mode": "list",
          "cachedResultName": "Food Order Processing DataSheet"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "lookupColumn": "Order Reference",
        "lookupValue": "={{ $('Validate Order Data').item.json.validatedData.orderData.orderReference }}",
        "options": {}
      },
      "id": "NEW-duplicate-check",
      "name": "Check Duplicate Order",
      "type": "n8n-nodes-base.googleSheets",
      "position": [2864, 1168],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0snrmABTwyZ812ip",
          "name": "Google Sheets account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": { "version": 2 },
          "conditions": [
            {
              "id": "not-duplicate",
              "leftValue": "={{ $json.length || 0 }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "equals" }
            }
          ]
        }
      },
      "id": "NEW-duplicate-if",
      "name": "Is Not Duplicate?",
      "type": "n8n-nodes-base.if",
      "position": [3088, 1168],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v18.0/61585437062726/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "EAAVuzZC32vVkBQdMneHwJSZCud0KQxCg7iDgnigG6MmGvZA8JZBmG5GG9ol7PZAZCZBBWdVXZBZAL2vLCxxzRD1JiIcZAfDnc0Dg8zbjAAazXAtHwp3OwrtZBl8LY5IfmK1JEzf8U44TrmyQB0cGh4EUwBU4a2ctHaS5PwEnDtzOL5q4iZCfWHcOkE2tOxAjCLOMvogLjLE8gMVPsO6IBvzPHNwoZAwZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('Webhook - FB Messenger').item.json.entry[0].messaging[0].sender.id }}\"\n  },\n  \"message\": {\n    \"text\": \"This order was already placed!\\n\\nOrder Reference: {{ $('Validate Order Data').item.json.validatedData.orderData.orderReference }}\\n\\nCheck your messages for the confirmation.\"\n  }\n}",
        "options": {}
      },
      "id": "NEW-duplicate-msg",
      "name": "Send Duplicate Warning",
      "type": "n8n-nodes-base.httpRequest",
      "position": [3312, 1088],
      "typeVersion": 4.3,
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "lookup",
        "documentId": {
          "__rl": true,
          "value": "1-kM0lwcE2FJsp8tKiMNjImExaZnif6UUXV2LMnVOE40",
          "mode": "list",
          "cachedResultName": "Food Order Processing DataSheet"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=4",
          "mode": "list",
          "cachedResultName": "Customer_History"
        },
        "lookupColumn": "Customer ID",
        "lookupValue": "={{ $('Webhook - FB Messenger').item.json.entry[0].messaging[0].sender.id }}",
        "options": {}
      },
      "id": "NEW-lookup-customer",
      "name": "Lookup Customer History",
      "type": "n8n-nodes-base.googleSheets",
      "position": [3312, 1248],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0snrmABTwyZ812ip",
          "name": "Google Sheets account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "Order Reference",
              "value": "={{ $('Validate Order Data').item.json.validatedData.orderData.orderReference }}",
              "type": "string"
            },
            {
              "name": "Order Type",
              "value": "={{ $('Validate Order Data').item.json.validatedData.orderData.orderType }}",
              "type": "string"
            },
            { "name": "Order Status", "value": "Pending", "type": "string" },
            { "name": "Kitchen Status", "value": "Pending", "type": "string" },
            {
              "name": "Payment Method",
              "value": "={{ $('Validate Order Data').item.json.validatedData.orderData.paymentMethod }}",
              "type": "string"
            },
            {
              "name": "Customer Name",
              "value": "={{ $('Validate Order Data').item.json.validatedData.orderData.customerName }}",
              "type": "string"
            },
            {
              "name": "Contact Number",
              "value": "={{ $('Validate Order Data').item.json.validatedData.orderData.contactNumber }}",
              "type": "string"
            },
            {
              "name": "Order Details",
              "value": "={{ $('Validate Order Data').item.json.validatedData.orderData.orderDetails }}",
              "type": "string"
            },
            {
              "name": "Delivery Address",
              "value": "={{ $('Validate Order Data').item.json.validatedData.orderData.deliveryAddress }}",
              "type": "string"
            },
            {
              "name": "Scheduled Date",
              "value": "={{ $('Validate Order Data').item.json.validatedData.orderData.scheduledDate }}",
              "type": "string"
            },
            {
              "name": "Scheduled Time",
              "value": "={{ $('Validate Order Data').item.json.validatedData.orderData.scheduledTime }}",
              "type": "string"
            },
            {
              "name": "Subtotal",
              "value": "={{ $('Validate Order Data').item.json.validatedData.cartData.subtotal }}",
              "type": "number"
            },
            {
              "name": "Delivery Fee",
              "value": "={{ $('Validate Order Data').item.json.validatedData.cartData.deliveryFee }}",
              "type": "number"
            },
            {
              "name": "Total Amount",
              "value": "={{ $('Validate Order Data').item.json.validatedData.cartData.total }}",
              "type": "number"
            },
            {
              "name": "Created At",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "name": "Updated At",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "name": "Customer ID",
              "value": "={{ $('Webhook - FB Messenger').item.json.entry[0].messaging[0].sender.id }}",
              "type": "string"
            },
            {
              "name": "Is Repeat Customer",
              "value": "={{ $('Lookup Customer History').item.json.length > 0 ? 'Yes' : 'No' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5f2cce93-9720-45e6-a2ed-df93c4c5b8e3",
      "name": "Prepare Sheet Data",
      "type": "n8n-nodes-base.set",
      "position": [3536, 1248],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1-kM0lwcE2FJsp8tKiMNjImExaZnif6UUXV2LMnVOE40",
          "mode": "list",
          "cachedResultName": "Food Order Processing DataSheet"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Order Reference": "={{ $json['Order Reference'] }}",
            "Order Type": "={{ $json['Order Type'] }}",
            "Order Status": "Pending",
            "Kitchen Status": "Pending",
            "Scheduled Date": "={{ $json['Scheduled Date'] }}",
            "Scheduled Time": "={{ $json['Scheduled Time'] }}",
            "Order Details": "={{ $json['Order Details'] }}",
            "Customer Name": "={{ $json['Customer Name'] }}",
            "Contact No.": "={{ $json['Contact Number'] }}",
            "Delivery Address": "={{ $json['Delivery Address'] }}",
            "Subtotal": "={{ $json['Subtotal'] }}",
            "Delivery Fee": "={{ $json['Delivery Fee'] }}",
            "Total Amount": "={{ $json['Total Amount'] }}",
            "Payment Method": "={{ $json['Payment Method'] }}",
            "Created At": "={{ $json['Created At'] }}",
            "Updated At": "={{ $json['Updated At'] }}",
            "Customer ID": "={{ $json['Customer ID'] }}",
            "Is Repeat Customer": "={{ $json['Is Repeat Customer'] }}"
          }
        },
        "options": {}
      },
      "id": "31229d67-28ad-4519-b580-7d3eb4762bba",
      "name": "Save Order to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [3760, 1248],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0snrmABTwyZ812ip",
          "name": "Google Sheets account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const receiptText = `Order Confirmed!\\n\\nOrder Reference: ${$json['Order Reference']}\\nCustomer: ${$json['Customer Name']}\\nContact: ${$json['Contact Number']}\\n\\nScheduled: ${$json['Scheduled Date']} ${$json['Scheduled Time']}\\n\\nOrder Details:\\n${$json['Order Details']}\\n\\nSubtotal: ₱${$json['Subtotal']}\\nDelivery Fee: ₱${$json['Delivery Fee']}\\nTotal: ₱${$json['Total Amount']}\\n\\nPayment: ${$json['Payment Method']}\\n\\nStatus: Pending Staff Confirmation\\n\\nKARAGE POPS - PureGold Carmona\\nSalamat po!`;\n\nreturn [{\n  json: {\n    receipt: receiptText,\n    orderReference: $json['Order Reference'],\n    customerId: $json['Customer ID']\n  }\n}];"
      },
      "id": "NEW-generate-receipt",
      "name": "Generate Digital Receipt",
      "type": "n8n-nodes-base.code",
      "position": [3984, 1248],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v18.0/61585437062726/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "EAAVuzZC32vVkBQdMneHwJSZCud0KQxCg7iDgnigG6MmGvZA8JZBmG5GG9ol7PZAZCZBBWdVXZBZAL2vLCxxzRD1JiIcZAfDnc0Dg8zbjAAazXAtHwp3OwrtZBl8LY5IfmK1JEzf8U44TrmyQB0cGh4EUwBU4a2ctHaS5PwEnDtzOL5q4iZCfWHcOkE2tOxAjCLOMvogLjLE8gMVPsO6IBvzPHNwoZAwZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $json.customerId }}\"\n  },\n  \"message\": {\n    \"text\": \"{{ $json.receipt }}\"\n  }\n}",
        "options": {}
      },
      "id": "NEW-send-receipt",
      "name": "Send Digital Receipt to Customer",
      "type": "n8n-nodes-base.httpRequest",
      "position": [4208, 1248],
      "typeVersion": 4.3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $('Process Business Context').item.json.telegramBotToken + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $('Process Business Context').item.json.telegramChatId }}\",\n  \"text\": \"NEW ORDER RECEIVED!\\n\\nOrder: {{ $('Prepare Sheet Data').item.json['Order Reference'] }}\\nCustomer: {{ $('Prepare Sheet Data').item.json['Customer Name'] }}\\n{{ $('Prepare Sheet Data').item.json['Is Repeat Customer'] === 'Yes' ? 'REPEAT CUSTOMER' : 'NEW CUSTOMER' }}\\n\\nType: {{ $('Prepare Sheet Data').item.json['Order Type'] }}\\nSchedule: {{ $('Prepare Sheet Data').item.json['Scheduled Date'] }} {{ $('Prepare Sheet Data').item.json['Scheduled Time'] }}\\n\\nTotal: ₱{{ $('Prepare Sheet Data').item.json['Total Amount'] }}\\n\\nPlease confirm in Google Sheets!\",\n  \"parse_mode\": \"HTML\"\n}",
        "options": {}
      },
      "id": "NEW-telegram-new-order",
      "name": "Alert Staff via Telegram (New Order)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [4208, 1408],
      "typeVersion": 4.3
    }
  ],
  "connections": {
    "Webhook - FB Messenger": {
      "main": [
        [
          {
            "node": "Validate Webhook Subscription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Webhook Subscription": {
      "main": [
        [{ "node": "Respond Challenge", "type": "main", "index": 0 }],
        [
          { "node": "Check Current Inventory", "type": "main", "index": 0 },
          { "node": "Check Business Config", "type": "main", "index": 0 }
        ]
      ]
    },
    "Check Current Inventory": {
      "main": [
        [{ "node": "Process Business Context", "type": "main", "index": 0 }]
      ]
    },
    "Check Business Config": {
      "main": [
        [{ "node": "Process Business Context", "type": "main", "index": 0 }]
      ]
    },
    "Process Business Context": {
      "main": [[{ "node": "Business Open?", "type": "main", "index": 0 }]]
    },
    "Business Open?": {
      "main": [
        [
          { "node": "Send Business Closed Message", "type": "main", "index": 0 }
        ],
        [{ "node": "AI Agent (Order Assistant)", "type": "main", "index": 0 }]
      ]
    },
    "Send Business Closed Message": {
      "main": [[{ "node": "Respond 200 (Closed)", "type": "main", "index": 0 }]]
    },
    "AI Agent (Order Assistant)": {
      "main": [
        [{ "node": "Check AI Response Validity", "type": "main", "index": 0 }]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent (Order Assistant)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory Buffer (Customer Session)": {
      "ai_memory": [
        [
          {
            "node": "AI Agent (Order Assistant)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent (Order Assistant)",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Check AI Response Validity": {
      "main": [[{ "node": "AI Response Valid?", "type": "main", "index": 0 }]]
    },
    "AI Response Valid?": {
      "main": [
        [
          { "node": "Send AI Error Fallback", "type": "main", "index": 0 },
          {
            "node": "Log AI Failure & Alert Staff",
            "type": "main",
            "index": 0
          },
          {
            "node": "Alert Staff via Telegram (AI Error)",
            "type": "main",
            "index": 0
          }
        ],
        [
          { "node": "Respond 200 OK", "type": "main", "index": 0 },
          { "node": "Send AI Reply to Customer", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send AI Reply to Customer": {
      "main": [
        [
          {
            "node": "Check if Cancellation Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check if Modification Request",
            "type": "main",
            "index": 0
          },
          { "node": "Check if Order Complete", "type": "main", "index": 0 }
        ]
      ]
    },
    "Check if Cancellation Request": {
      "main": [
        [
          {
            "node": "Delete Order from Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Order from Google Sheets": {
      "main": [
        [
          {
            "node": "Send Cancellation Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Modification Request": {
      "main": [
        [],
        [
          {
            "node": "Update Order in Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Alert Staff via Telegram (Modification)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Order in Google Sheets": {
      "main": [
        [
          {
            "node": "Send Modification Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Order Complete": {
      "main": [[{ "node": "Validate Order Data", "type": "main", "index": 0 }]]
    },
    "Validate Order Data": {
      "main": [[{ "node": "Order Data Valid?", "type": "main", "index": 0 }]]
    },
    "Order Data Valid?": {
      "main": [
        [{ "node": "Send Validation Error", "type": "main", "index": 0 }],
        [{ "node": "Check Duplicate Order", "type": "main", "index": 0 }]
      ]
    },
    "Check Duplicate Order": {
      "main": [[{ "node": "Is Not Duplicate?", "type": "main", "index": 0 }]]
    },
    "Is Not Duplicate?": {
      "main": [
        [{ "node": "Send Duplicate Warning", "type": "main", "index": 0 }],
        [{ "node": "Lookup Customer History", "type": "main", "index": 0 }]
      ]
    },
    "Lookup Customer History": {
      "main": [[{ "node": "Prepare Sheet Data", "type": "main", "index": 0 }]]
    },
    "Prepare Sheet Data": {
      "main": [
        [{ "node": "Save Order to Google Sheets", "type": "main", "index": 0 }]
      ]
    },
    "Save Order to Google Sheets": {
      "main": [
        [{ "node": "Generate Digital Receipt", "type": "main", "index": 0 }]
      ]
    },
    "Generate Digital Receipt": {
      "main": [
        [
          {
            "node": "Send Digital Receipt to Customer",
            "type": "main",
            "index": 0
          },
          {
            "node": "Alert Staff via Telegram (New Order)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2.0-FIXED",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
